# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
.eggs/
.venv/
venv/
env/

# IDE
.vscode/settings.json
.idea/

# OS
.DS_Store
Thumbs.db

# Project
*.ctb.bak
samples/output/
